.container{
    width: 97%;
    margin: 2em auto;
    height: auto;
    /* border: red 1px solid; */
    box-shadow: 0 1px 6px rgba(245, 2, 2, 0.192);

}
.top_Photographer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    /* border: springgreen  1px solid; */
    height: 15em;
    box-shadow: 0 1px 6px rgba(16, 211, 16, 0.192);

}
.top_Photographer img{
    height: 13em;
    clip-path: circle(40%);
    width: 40%;
    object-fit: cover;
}